<section class="container">
  <div class="p-5 text-center">
    <h1 class="text-black h1">
      {{ '::RealEstateAuction' | abpLocalization }}
    </h1>
    <p class="lead px-lg-5 mx-lg-5">{{ '::LongWelcomeMessage' | abpLocalization }}</p>

    <form [formGroup]="searchForm">
      <label for="typeahead-basic" class="search-form-label"
        >Search For A Real State Enter The Location That You want In Search Bar:</label
      >
      <div class="d-flex justify-content-center mb-3">
        <input
          id="typeahead-basic"
          type="text"
          class="form-control search-input"
          [(ngModel)]="model"
          [ngbTypeahead]="searchList"
          placeholder="Address or City or ZipCode"
        />
        <button class="btn btn-primary">Search</button>
      </div>
    </form>

    <button
      role="button"
      *ngIf="!hasLoggedIn"
      (click)="login()"
      class="button smoke dark text-center"
    >
      <div>
        <span>L</span>
        <span>o</span>
        <span>g</span>
        <span>i</span>
        <span>n</span>
      </div>
    </button>
  </div>
</section>

<ngb-carousel
  #carousel
  [interval]="5000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
>
  @for (img of images; track img; let i = $index) {
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h3>My slide {{ i + 1 }} title</h3>
    </div>
    <a href="#" target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img [src]="img.image" class="img-fluid" alt="My image {{ i + 1 }} description" />
      </div>
    </a>
  </ng-template>
  }
</ngb-carousel>

<section class="text-center bg-black container-fluid">
  <h1 class="bebas-neue-regular p-5 text-white">
    <span class="neon-color neon-color-cyan">T</span>
    <span class="neon-color neon-color-cyan">o</span>
    <span class="neon-color neon-color-cyan">p</span>
    <span>&nbsp;</span>
    <span class="neon-color neon-color-cyan">3</span>
    Real Estate That Received The Highest Bids
  </h1>
  <div class="row mt-4">
    <div class="col-xl-4 position-relative">
      <img src="../../assets/images/tree-house.jpg" class="img-fluid d-block" alt="" srcset="" />
      <div class="purple-radiation"></div>
    </div>
    <div class="col-xl-4 position-relative">
      <img src="../../assets/images/inside-house.jpg" class="img-fluid d-block" alt="" srcset="" />
      <div class="purple-radiation"></div>
      <!-- <div class="mid-absolute-position text-white opacity-1">
        <span>Details</span>
      </div> -->
      <div class="mid-absolute-position">
        <div class="d-flex justify-content-center">
          <a
            class="text-white d-block btn bg-black p-2 me-2"
            [routerLink]="['/house-details', 'house.id', 'details']"
          >
            <span class=""> {{ '::Details' | abpLocalization }} </span>
            <!-- <i class="fas fa-info-circle"></i> -->
          </a>
          <button class="btn-hover coustom-button">
            The bid Price Is $10000000
            <span class="coustom-span top"></span>
            <span class="coustom-span right"></span>
            <span class="coustom-span bottom"></span>
            <span class="coustom-span left"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-4 position-relative">
      <img src="../../assets/images/tree-house.jpg" class="img-fluid d-block" alt="" srcset="" />
      <div class="purple-radiation"></div>
    </div>
  </div>
</section>

<div class="bg-black w-100" style="height: 40px"></div>
